<div class="container text-light col-md-1">
    <h3>Desenhos</h3>
    <hr style="color: var(--primary-color) !important;">
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="/rosa.jpeg" class="card-img-top" alt="poesia">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="/flor.jpeg" class="card-img-top" alt="poesia">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="/baralhow.jpeg" class="card-img-top" alt="poesia">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="/flor02.jpeg" class="card-img-top" alt="poesia">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="/smoke.jpeg" class="card-img-top" alt="poesia">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="/applehead.jpeg" class="card-img-top" alt="poesia">
            </div>
        </div>
    </div>
</div>