<div class="container text-light col-md-1">
    <h3>Poesias</h3>
    <hr style="color: var(--primary-color) !important;">
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="/uma conversa.jpeg" class="card-img-top" alt="Poesias">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="/perdicao.jpeg" class="card-img-top" alt="Poesias">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="/poeti.jpeg" class="card-img-top" alt="Poesias">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="/molhados.jpeg" class="card-img-top" alt="Poesias">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="/sem-titulo.jpeg" class="card-img-top" alt="Poesias">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4">
                <img src="/validacoes.jpeg" class="card-img-top" alt="Poesias">
            </div>
        </div>
    </div>
</div>