<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-12">
      <div class="card mb-5">
        <div class="card-header text-white d-flex align-items-start justify-content-between">
          <h5>Sobre Mim</h5>
          <button type="button" class="btn"(click)="toggleInfo()"[style.color]="colorText" [style.backgroundColor]="corDoBotao"(mouseover)="mousePorCima()" (mouseleave)="mouseSaiu()">Mostrar Infos</button>
        </div>
        <div class="card-body" *ngIf="showInfo">
          <p class="mb-1" [style.color]="colorText">{{infoText}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
